@use "../variables/variables";
@use "../mixins/private/token-mixins";

body {
    @include token-mixins.background-color-token(color-background-primary);
    @include token-mixins.color-token(color-foreground-primary);

    font-family: variables.$font-family-default;
    font-size: var(--font-size-default);
    line-height: var(--font-line-height-default);
    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    -webkit-text-size-adjust: 100%;
}

button {
    font-family: inherit;
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    margin-bottom: var(--spacing-100);
}

a {
    color: var(--color-foreground-link-primary);

    &:visited {
        color: var(--color-foreground-link-visited);
    }

    &:hover {
        color: var(--color-foreground-secondary);
    }

    &:not([href]),
    &[aria-disabled="true"] {
        color: var(--color-foreground-disabled);
    }
}
