@use "../variables/variables";
@use "../mixins/private/button-mixins";
@use "../mixins/private/token-mixins";

a.cta-btn {
    @include token-mixins.background-color-token(
        cta-btn-background-color,
        color-background-primary
    );

    align-content: center;
    border-color: currentColor;
    border-radius: var(
        --cta-btn-border-radius,
        calc(button-mixins.$button-height-regular / 2)
    );
    display: inline-block;
    font-size: var(--font-size-default);
    max-width: 100%;
    min-height: button-mixins.$button-height-regular;
    padding: button-mixins.$button-padding-vertical 20px;
    @include token-mixins.color-token(
        cta-btn-foreground-color,
        color-foreground-primary
    );
    @include button-mixins.base;
}

a.cta-btn:visited {
    @include token-mixins.color-token(
        cta-btn-visited-foreground-color,
        color-foreground-primary
    );
}

a.cta-btn:focus,
a.cta-btn:hover {
    @include token-mixins.background-color-token(
        cta-btn-hover-background-color,
        color-foreground-primary
    );
    @include token-mixins.border-color-token(
        cta-btn-hover-border-color,
        color-foreground-primary
    );
    @include token-mixins.color-token(
        cta-btn-hover-foreground-color,
        color-background-primary
    );
}

a.cta-btn:not([href]),
a.cta-btn[aria-disabled="true"] {
    @include token-mixins.background-color-token(
        cta-btn-disabled-background-color,
        color-background-primary
    );
    @include token-mixins.border-color-token(
        cta-btn-disabled-border-color,
        color-stroke-disabled
    );
    @include token-mixins.color-token(
        cta-btn-disabled-foreground-color,
        color-foreground-disabled
    );
}

a.cta-btn--fluid {
    width: 100%;
}

span.cta-btn__cell {
    @include button-mixins.cell-base;

    justify-content: center;

    @include button-mixins.cell-fixed-height;
    @include button-mixins.cell-truncated;
}

a.cta-btn svg.icon {
    @include button-mixins.icon-base;

    flex-shrink: 0;
    height: 10px;
    width: 10px;
}

span.cta-btn__cell--fixed-height svg.icon {
    align-self: center;
    height: 1rem;
    overflow: visible; /* needed? */
    width: 1rem;
}

a.cta-btn--truncated {
    @include button-mixins.truncate;
}

a.cta-btn--large {
    border-radius: button-mixins.$button-border-radius-large;
    display: inline-flex;
    font-size: var(--font-size-medium);
    min-height: button-mixins.$button-height-large;
}

[dir="rtl"] a.cta-btn svg.icon--arrow-right-24 {
    transform: rotate(180deg);
}
