@use "./button-mixins";

@mixin background-keyframes() {
    @keyframes fill-horizontal-background {
        0% {
            background-size: 0% 100%;
        }
        99% {
            background-color: var(--color-background-primary);
        }
        100% {
            background-color: var(--color-background-strong);
            background-size: 100% 100%;
        }
    }
}

@mixin base() {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    font-size: var(--font-size-default);
    gap: var(--spacing-75);
    height: var(--spacing-400);
    justify-content: space-between;
    max-width: 296px;
    min-width: 32px;
    padding: 0 var(--spacing-150);
    text-decoration: none;
    vertical-align: bottom;
}

@mixin interactive() {
    @include button-mixins.animations;

    background-color: var(--color-background-primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border: 1px solid var(--color-stroke-default);
    box-shadow: none;
    color: var(--color-foreground-primary);
}

@mixin selected() {
    // The background color is applied due to the animation. For no animation cases, will apply it instantaly.
    animation: fill-horizontal-background 0s var(--motion-easing-quick-enter)
        forwards;
    background-image: linear-gradient(
        to right,
        var(--color-background-strong) 0%,
        var(--color-background-strong) 100%
    );
    color: var(--color-foreground-on-strong);
}

@mixin selected-animation() {
    animation-duration: var(--motion-duration-medium-2);
    transition: color var(--motion-duration-instant)
        var(--motion-easing-standard);
}

@mixin text() {
    overflow: hidden;
    padding: var(--spacing-75) 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
