@use "./token-mixins";
@use "./selection-list-mixins";

@mixin base() {
    border-color: var(--color-background-primary);
    color: var(--color-foreground-primary);

    @include selection-list-mixins.base;

    &[hidden] {
        display: none; /* https://css-tricks.com/the-hidden-attribute-is-visibly-weak/ */
    }

    &:hover {
        background-color: var(--color-state-primary-hover);
        color: var(--color-foreground-primary);
    }

    &:active {
        font-weight: bold;
    }

    &:disabled,
    &[aria-disabled="true"] {
        @include disabled;
    }
}

@mixin disabled() {
    @include token-mixins.color-token(
        listbox-option-disabled-foreground-color,
        color-foreground-disabled
    );

    background-color: unset;
    font-weight: unset;
}

@mixin status() {
    @include selection-list-mixins.status;
}
