@use "./token-mixins";
@use "./selection-list-mixins";

@mixin base() {
    @include selection-list-mixins.base;
    @include token-mixins.border-color-token(
        listbox-option-border-color,
        color-background-primary
    );
    @include token-mixins.color-token(
        listbox-option-foreground-color,
        color-foreground-primary
    );

    &[hidden] {
        display: none; /* https://css-tricks.com/the-hidden-attribute-is-visibly-weak/ */
    }

    &:hover {
        background-color: var(--color-state-primary-hover);
        @include token-mixins.color-token(
            listbox-option-hover-foreground-color,
            color-foreground-primary
        );
    }

    &:active {
        font-weight: bold;
    }

    &:disabled,
    &[aria-disabled="true"] {
        @include disabled;
    }
}

@mixin disabled() {
    @include token-mixins.color-token(
        listbox-option-disabled-foreground-color,
        color-foreground-disabled
    );

    background-color: unset;
    font-weight: unset;
}

@mixin status() {
    @include selection-list-mixins.status;
}
