@use "../mixins/public/animation-mixins";
@use "../mixins/private/chip-mixins";
@use "../mixins/public/utility-mixins";

@include chip-mixins.background-keyframes();
@include animation-mixins.chevron-keyframes();

button.filter-chip,
a.filter-chip {
    @include chip-mixins.base();
    @include chip-mixins.interactive();

    border-radius: var(--border-radius-100);
}

button.filter-chip--expressive,
a.filter-chip--expressive {
    border-radius: var(--border-radius-150);
    height: 40px;
}

.filter-chip__media {
    @include utility-mixins.image-treatment();

    border-radius: var(--spacing-400);
    margin-inline-start: -8px;
}

.filter-chip__media > img {
    height: var(--spacing-400);
    object-fit: cover;
    width: var(--spacing-400);
}

button.filter-chip[aria-pressed="true"],
a.filter-chip--selected {
    @include chip-mixins.selected();
}

button.filter-chip--animated[aria-pressed="true"] {
    @include chip-mixins.selected-animation();
}

button.filter-chip[aria-expanded="false"]:active .filter-chip__trailing {
    @include animation-mixins.chevron-close();

    rotate: 180deg;
}

button.filter-chip[aria-expanded="false"] .filter-chip__trailing {
    rotate: 0deg;
    transition: none;
}

button.filter-chip[aria-expanded="true"]:active .filter-chip__trailing {
    @include animation-mixins.chevron-open();

    rotate: 0deg;
}

button.filter-chip[aria-expanded="true"] .filter-chip__trailing {
    rotate: 180deg;
    transition: none;
}

.filter-chip__text {
    @include chip-mixins.text();
}
