@use "../variables/variables";
@use "../mixins/private/bubble-mixins";
@use "../mixins/private/token-mixins";

.infotip {
    position: relative;
}

span.infotip {
    display: inline-block;
}

.infotip__overlay {
    @include bubble-mixins.base;
    @include token-mixins.background-color-token(
        infotip-background-color,
        color-background-elevated
    );
    @include token-mixins.color-token(
        infotip-foreground-color,
        color-foreground-primary
    );

    display: none;
}

.infotip__mask {
    @include bubble-mixins.mask;
    @include token-mixins.background-color-token(
        infotip-background-color,
        color-background-elevated
    );
    @include token-mixins.color-token(
        infotip-foreground-color,
        color-foreground-primary
    );
}

span.infotip__mask {
    display: block;
}

.infotip__cell {
    @include bubble-mixins.cell;
}

.infotip__content {
    @include bubble-mixins.content;
}

.infotip__pointer {
    @include token-mixins.background-color-token(
        infotip-background-color,
        color-background-elevated
    );

    @include bubble-mixins.pointer-base;
}

.infotip__pointer--top-left {
    @include bubble-mixins.pointer-top-left;
}

.infotip__pointer--top {
    @include bubble-mixins.pointer-top-center;
}

.infotip__pointer--top-right {
    @include bubble-mixins.pointer-top-right;
}

.infotip__pointer--bottom-left {
    @include bubble-mixins.pointer-bottom-left;
}

.infotip__pointer--bottom {
    @include bubble-mixins.pointer-bottom-center;
}

.infotip__pointer--bottom-right {
    @include bubble-mixins.pointer-bottom-right;
}

.infotip__pointer--left {
    @include bubble-mixins.pointer-left;
}

.infotip__pointer--left-bottom {
    @include bubble-mixins.pointer-left-bottom;
}

.infotip__pointer--left-top {
    @include bubble-mixins.pointer-left-top;
}

.infotip__pointer--right {
    @include bubble-mixins.pointer-right;
}

.infotip__pointer--right-bottom {
    @include bubble-mixins.pointer-right-bottom;
}

.infotip__pointer--right-top {
    @include bubble-mixins.pointer-right-top;
}

.infotip__heading {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 var(--spacing-50);
}

span.infotip__heading {
    display: block;
}

.infotip__host[aria-expanded="true"] ~ .infotip__overlay {
    display: block;
}

/* todo: refactor out this dependency. Use a mixin instead */
.infotip .icon-btn {
    display: inline-flex;
    flex-shrink: 0; /* todo: Should move to icon-btn in next major */
    height: 20px;
    min-width: 20px;
    outline-offset: 2px;
    overflow: visible;
    width: 20px;
}

button.infotip__close,
.infotip__close {
    margin-left: var(--spacing-200);
}

@media (min-width: variables.$screen-size-SM) {
    .infotip__overlay {
        @include bubble-mixins.large-screen;
    }
}
